{% load sass_tags %}
<!DOCTYPE html>
<html>
  <head style="scroll-padding-top: 70px;">
    <title>GohobiTicket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>GohobiTicket</title>
    <link rel="stylesheet" href="{% sass_src 'user_relations/style.scss' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <div class="pt-6" id="tickettop">
      <p>hello world</p>
      <p>user_relation_id: {{ user_relation_id }}</p>
    </div>
  </body>
</html>
