{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html>
  <head style="scroll-padding-top: 70px;">
    <title>GohobiTicket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>GohobiTicket</title>
    <link rel="stylesheet" href="{% sass_src 'user_relations/style.scss' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/fa7f4e5c89.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="{% static 'user_relations/components/MainLayout.vue' %}"></script>
    <script src="{% static 'user_relations/app.js' %}"></script>
  </head>
  <body>
    <div class="pt-6" id="tickettop">
      <p>hello world</p>
      <p>user_relation.background_color: {{ user_relation.background_color }}</p>
      <i class="fas fa-bars"></i>
      <span class="icon">
        <i class="fas fa-angle-double-down"></i>
      </span>
      <div id="app" style="background-color: {{ user_relation.background_color }};">
        <!-- <layout
          available_tickets = "<%= @available_tickets.to_json %>"
          used_tickets = "<%= @used_tickets.to_json %>"
          csrf-token = "<%= form_authenticity_token %>"
          is_giving_relation = "<%= is_giving_relation %>"
          user-relation-id = "<%= @user_relation.id %>"
          available-ticket-count = "<%= @available_ticket_count %>"
          all-ticket-count = "<%= @all_ticket_count %>"
          ticket-image = "<%= image_url(@user_relation.ticket_img) %>"
          related-user-nickname = "<%= @related_user_nickname %>"
          other_receiving_relations = "<%= @other_receiving_relations.to_json %>"
          corresponding-relation-id = "<%= @corresponding_relation_id %>"
        ></layout> -->
      </div>
    </div>

  </body>
</html>
