
.logo-block {
    height: 170px;
}

@media screen and (min-width: 769px) {
    .logo-block {
        height: 350px;
    }
}

.logo {
    height: inherit;
}

.logo-fixed {
    position: fixed;
    bottom: 8px;
    right: 8px;
    margin: 0 5px 5px 0;
    height: 50px;
    display: flex;
    z-index: 1000;
    transition: margin 0.5s;
    box-shadow: 2px 2px 7px rgba(18, 47, 61, 0.5),
      -5px -5px 15px rgba(248, 253, 255, 0.9), inset 5px 5px 15px transparent,
      inset -5px -5px 15px transparent;
}
.logo-fixed:hover {
    opacity: 0.95;
    filter: brightness(105%);
}

@media screen and (min-width: 769px) {
    .logo-fixed {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0 10px 10px 0;
        height: 100px;
        display: flex;
        z-index: 1000;
        transition: margin 0.5s;
        box-shadow: 5px 5px 14px rgba(18, 47, 61, 0.5),
            -10px -10px 30px rgba(248, 253, 255, 0.9),
            inset 10px 10px 30px transparent, inset -10px -10px 30px transparent;
    }
}

.absolute-right {
    position: absolute;
    top: 0;
    right: 0;
}

.tickets {
    max-width: 760px;
    margin: 0 auto;
}

.to-used-tickets {
    font-size: 30px;
    background: white;
    border-radius: 999px;
    position: fixed;
    left: 16px;
    bottom: 20px;
    border: 2px solid #ddd;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    z-index: 2;
}

.u-w-100 {
    width: 100%;
}

@media screen and (max-width: 1023px) {
    .u-tab-flex-column-end {
        flex-direction: column;
        align-items: flex-end;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.formDatePicker {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.formDatePickerInput {
    border-radius: 4px;
    color: #363636;
    border: 1px solid #dbdbdb;
    font-size: 1rem;
    height: 2.5em;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    vertical-align: top;
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
}

.searchDatePicker {
    margin: 0 auto;
    transform: translate(0, 0);
    height: 320px;
}

.ticket-wrapper {
    box-sizing: border-box;
    transition: 0.6s;
}
.ticket-wrapper.ticket-wrapper--unread {
    border: solid 3px rgba(72, 199, 116, 0.43);
}

.ticket-wrapper--transparent-border {
    border: solid 3px rgba(72, 199, 116, 0.18);
}

.ticket-wrapper.special-ticket {
    background: linear-gradient(46deg, #b67b03 0%, #daaf08 45%, #fee9a0 80%, #daaf08 90%, #b67b03 100%);
    color: #2a2a2a;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    border: none;
    .button.is-light {
        background: rgba(255, 255, 255, 0.5);
    }
    .button.is-white {
        background: rgba(255, 255, 255, 0.5);
    }
    &.ticket-wrapper--unread {
        border: none;
    }
}

.tag--transparent {
    opacity: 0.45;
    transition: 0.5s;
}

.tag-new {
    position: absolute;
    top: -5px;
    right: 9px;
}

.tag-edited {
    position: absolute;
    top: -5px;
    right: 9px;
}

.tag-draft {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 0.75rem;
    z-index: 1;
}

.tag-used {
    position: absolute;
    top: -5px;
    right: 9px;
    z-index: 1;
}

.gifter-dropdown {
    position: absolute;
    top: 24px;
    right: 20px;
}

@media screen and (min-width: 769px) {
    .gifter-dropdown {
        top: 8px;
        right: 9px;
    }
}

.dropdown-membrane {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.delete-btn {
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 100px;
    background: white;
    border: 1px solid gray;
}

.edit-error {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #f14668;
    color: white;
}

.w-170 {
    width: 170px;
}
