<!DOCTYPE html>
<html style="scroll-padding-top: 70px;">
    <head>
        <title>GohobiTicket</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="pt-6" id="tickettop">
                <a href="/">トップへ</a>
                <h1 class="is-size-1">更新履歴</h1>
                <div class="content">
                    <h2 class="is-size-3">2022年5月26日（木）</h2>
                    <ul>
                        <li>月に1枚限定の特別チケットを付与できるようになりました。</li>
                    </ul>
                </div>
                <div class="content">
                    <h2 class="is-size-3">2022年4月15日（金）</h2>
                    <ul>
                        <li>チケットの下書き機能を搭載しました。</li>
                        <li>一部のチケットの日付が改行されてしまう不具合を修正しました。</li>
                    </ul>
                </div>
                <div class="content">
                    <h2 class="is-size-3">2022年3月25日（金）</h2>
                    <ul>
                        <li>メッセージの改行が表示されるようにしました。</li>
                        <li>メッセージが読みやすいように、デザインを微調整しました。</li>
                    </ul>
                </div>
                <div class="content">
                    <h2 class="is-size-3">2022年3月24日（木）</h2>
                    <ul>
                        <li>既読になった時に文字が動くバグを修正しました。</li>
                        <li>使用済みタグの表示位置を微調整しました。</li>
                    </ul>
                </div>
                <div class="content">
                    <h2 class="is-size-3">2022年1月23日（日）</h2>
                    <ul>
                        <li>既読になる時の表示をわかりやすくしました。</li>
                        <li>使用済みチケットに移動する矢印を復活しました。</li>
                    </ul>
                </div>
                <div class="content">
                    <h2 class="is-size-3">2022年1月12日（水）</h2>
                    <ul>
                        <li>日付でチケット検索の機能を改善しました。</li>
                        <li>チケットの既読機能を改善しました。大きなチケットも既読にできるようになりました。</li>
                    </ul>
                </div>
                <div class="content">
                    <h2 class="is-size-3">2022年1月10日（月）</h2>
                    <ul>
                        <li>日付でチケットを検索する機能を追加しました。</li>
                        <li>ミニチケットをタップすると、検索欄が現れるので、日付を選んでください。</li>
                        <li>合わせて、スクロール機能を検索欄の中に移動しました。</li>
                    </ul>
                </div>
                <div class="content">
                    <h2 class="is-size-3">2021年9月19日（日）</h2>
                    <ul>
                        <li>ヘッダーのリンクを使いやすく改善しました。</li>
                        <li>今いる画面が、チケットをあげる画面なのか、もらう画面なのかわかりやすくしました。</li>
                    </ul>
                </div>
                <div class="content">
                    <h2 class="is-size-3">2021年7月17日（土）</h2>
                    <ul>
                        <li>チケットが既読になった時、New!!やEdited!!タグを消さずに半透明化するように変更</li>
                        <li>使用済みチケットへ移動するボタンの表示方法を変更</li>
                    </ul>
                </div>
                <div class="content">
                    <h2 class="is-size-3">2021年7月17日（土）</h2>
                    <ul>
                        <li>ミニチケットの表示位置の変更（画面左上 → 画面右下）</li>
                        <li>使用済みチケットへの表示位置の変更（画面右上 → 画面左下）</li>
                        <li>チケットのメニューボタンの表示位置の変更（画面中央下 → 画面右上）</li>
                        <li>「使用済み」タグの表示位置の微調整</li>
                        <li>チケットに未読機能の導入</li>
                        <li style="margin-left: 22px;">初めて見るチケットにはNewのタグを表示します。（もらう側のみ）</li>
                        <li style="margin-left: 22px;">編集で内容の変わったチケットにはEditedのタグを表示します。（もらう側のみ）</li>
                        <li style="margin-left: 22px;">チケットを画面に表示して、３秒たつと既読に変わります。</li>
                    </ul>
                </div>
                <div class="content">
                    <h2 class="is-size-3">2021年6月13日（日）</h2>
                    <ul>
                        <li>あげたチケットの編集機能</li>
                        <li>あげたチケットの削除機能のデザイン改修</li>
                        <li>チケットをあげる時の日付入力のデザイン改修</li>
                        <li>URLをすっきりさせた</li>
                        <li>ミニチケットを左上から右下に移動</li>
                        <li>複数人のリンクを表示できるようにした</li>
                        <li>ヘッダーのデザイン改修</li>
                    </ul>
                </div>
        </div>
    </body>
</html>
